@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid index home">
    <div class="container">
        <div class="row">
            <div class="col-7 align-self-center mb-5">
                <h1 class="poppins-light font-60">Rachael Murtagh</h1>
                <h3 class="poppins-regular">Junior Software Developer</h3>
            </div>
            <div class="col-5">
                <img class="profile-pic" alt="Profile picture" src="~/images/profile.png" />
            </div>
        </div>
    </div>
</div>